<div class="container content-page">
      <h3><strong><u>Articles</u></strong></h3>
	  <% if @articles.any? %>
	    <div class="p-b-40">
		  <table class="table table-striped table-hover">
			  <% @articles.each do |article| %>
			    <tr>
			      <td><strong><%= article.title %></strong></td>
			      <td><%= article.body %></td>
			      <td><%= link_to 'Edit', edit_user_article_path(@user,article) %></td>
			      <td> | </td> 
			      <td> <%= link_to 'Delete', [article.user, article],
			               method: :delete,
			               data: { confirm: 'Are you sure?' } %>      
			      </td>
			    </tr>
			  <% end %>	 
			</table>
		</div>
		<% else %>
		<p>No articles to show. Try creating one!</p>
		<% end %>
</div>