<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
/>
<div class="container content-page">
      <div class="p-b-40">
      <div class="app">
          <%= link_to 'Welcome Index', :controller => :welcome, :action => :index %>
      </div>
      </div>
</div>