<div class="container content-page">
      <h3><strong><u>Articles</u></strong></h3>
      <div class="p-b-40">
	      <table>
              <% @users.each do |user| %>
                <% if user.articles.any? %>
                    <% user.articles.each do |article| %>
                        <tr>
                        <td><strong><%= article.title %></strong></td>
                        <td><%= article.body %></td>
                        <td>  ~ by  <%= user.username.humanize %></td>   
                        </tr>
                    <% end %>
                <% end %>
            <% end %>   
            </table>
        </div>
</div>