<p>Inside welcome Index</p>

<div class="container content-page">
      <div class="p-b-40">
          <ul class="table table-striped table-hover">
          <% @hash[1] = @results %>
          <% @hash[1].each do |k,v| %>
                <% if k == 'dataseries' %>
                    <% v.each do |obj| %>
                        <% obj.each do |key,val| %>
                            <li><td><%= key %></td><td> : <%= val %></td></li><br />
                        <% end %>
                    <% end %>
                <% else %>
                <li><td><%= k %></td><td> : <%= v %></td></li><br />
                <% end %>
            <% end %>
            </ul>
        </div>
</div>
